<div class="row">
  <div class="col-xs-6 col-md-3 bottom-margin">
    <label for="from">From:</label>
    <input type="date" class="form-control" name="from" id="from" value=""/>
  </div>
  <div class="col-xs-6 col-md-3 bottom-margin">
    <label for="to">To:</label>
    <input type="date" class="form-control" name="to" id="to" value=""/>
  </div>
  <div class="col-xs-4 col-md-3 bottom-margin">
    <label for="resolution">Resolution:</label>
    <select name="resolution" id="resolution" class="form-control" disabled="disabled">
      <option value="5m" selected>5 minutes</option>
      <option value="1h">1 hour</option>
      <option value="24h">1 day</option>
      <option value="1w">1 week</option>
      <option value="30d">1 month</option>
    </select>
  </div>
  <div class="col-xs-4 col-md-2 bottom-margin">
    <label for="per_page">Limit:</label>
    <select name="per_page" id="per_page" class="form-control">
      <option value=100>100</option>
      <option value=500 selected>500</option>
      <option value=1000>1000</option>
      <option value=10000>10000</option>
      <option value="all">All</option>
    </select>
  </div>
  <div class="col-xs-4 col-md-1 bottom-margin">
    <button class="btn btn-default" id="go" style="margin-top:2em">Go</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4 bottom-margin">
    <button class="btn btn-default" id="minus-one-day"><i class="fa fa-angle-left"></i> Back One Day</button>
    <button class="btn btn-default" id="add-one-day">Forward One Day <i class="fa fa-angle-right"></i></button>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 bottom-margin">
    <button class="btn btn-default" id="yesterday">Yesterday</button>
    <button class="btn btn-default" id="today">Today</button>
  </div>
</div>
