<div class="card">
  <div class="card-block">
    <h4 class="card-title">LED Control</h4>
    <form id="ledForm" class="mqttForm">
      <div class="form-group">
        <label for="ledValue">Brightness</label>
        <input type="hidden" name="mqttTopic" class="mqttTopic" value="LED">
        <input type="range" min="0" max="1024" value="50" id="ledValue" class="mqttMessage"
        	step="1" oninput="outputUpdate(value)">
        <output for="ledValue" id="outputLedValue">50</output>
      </div>

      <i class="fa fa-lightbulb-o fa-2x" id="plantLedBulb" aria-hidden="true"></i>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </form>
  </div>
</div>
