<div class="card-deck">
  <%= render partial: 'sensor', collection: @sensors %>
  <%= render partial: 'led_card' %>
</div>

<p>
  <button class="update btn btn-primary"><i class="fa fa-refresh"></i> Request Update</button>
</p>
