/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree .
 *= require_self
 */

$enable-flex: true;
@import "variables";
@import "bootstrap";
@import "mixins/spin";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "sensor_card";

.hidden {
  display: none !important;
}

nav.navbar {
  margin-bottom: 1em;
  i.fa {
    transition: color 0.25s ease;
    color: $brand-primary;
    &:hover {
      color: lighten($brand-primary, 15%);
    }
  }
}

.row {
  margin-bottom:1em;
  margin-top:1em;
}
.bottom-margin {
  margin-bottom:1em;
}

.spinner .pump-inner {
  animation: spin 2100ms infinite linear;
  transform-origin: center;
}

.water_pump {
  background-color: darken($brand-primary, 10%);
  padding: 10px;
  border-radius: 5px;
  margin-top: 2em;
  fill: white;
}

button.update {
  margin-bottom: 1em;
}
